{% extends 'base.html' %}

{% block head %}
<title>list of drivers</title>
<style>
th,td {
  border-right: 2px solid black;
}
th {
  border-bottom: 2px solid black;
}
</style>
{% endblock %}

{% block body %}
<h1>List of drivers name and code</h1>
<form action="" method='get'>
    <label for="order">Order list by name:</label>
    <select id="order" name="order">
        <option value="asc" selected>ASC</option>
        <option value="desc">DESC</option>
    </select>
    <input type="submit" value="Submit">
</form>
<ol>
    <table>
        <tr>
            <th>Racer name</th>
            <th>CODE</th>
        </tr>
        {% for drivers in winlist%}
        <tr>
            <td>
                <li>{{ drivers.name|e }}</li>
            </td>
            <td><a href="{{ url_for('.drivers_list', driver_id = drivers.abbr)}}">{{ drivers.abbr|e }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</ol>
{% endblock %}
